version: "3"

services:

  trythisonbrowser:
    container_name: trythisonbrowser
    image: seongbin9786/trythisonbrowser
    ports: 
     - 80:3000
    env_file: .env
    environment:
      - TTYD_HOST=18.235.194.72
      - MYSQL_HOST=mysql
    depends_on:
      - mysql

  mysql:
    container_name: mysql
    image: mysql:5.7
    restart: unless-stopped
    ports:
      - "3306:3306"
    env_file: .env
    environment:
      - TZ=Asia/Seoul
    volumes:
      - mysql:/var/lib/mysql
      - ./config/mysql/:/etc/mysql/conf.d

  # https://github.com/tsl0922/ttyd/wiki/Example-Usage#docker-image
  ttyd:
    container_name: ttyd
    image: tsl0922/ttyd
    restart: always # 해당 이미지에서 사용한 tini 때문에, WS Connection이 종료되면 컨테이너가 종료될 수 밖에 없음.
                    # 물론 추후 직접 이미지를 만들기 때문에 이 문제는 추후 발생하지 않음.
    ports: 
      - "9999:9999"
    command: [ "ttyd", "-p", "9999", "-c", "1234:1234", "bash" ]

volumes:
  mysql:
