<!DOCTYPE html>
<html>

<head>
  <title>
    TTOB!
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div style="--background:#DAE0E6;--canvas:#DAE0E6">
    <%- include ('header') %>
</body>
</html>