<!DOCTYPE html>
<html>
  <head>
    <title>TTOB! - register</title>
    <link rel="stylesheet" href="/stylesheets/register.css" />
  </head>
  <body>
    <%- include ('header') %>

    <div class="form_container" style="max-width: 540px; margin-top: 120px">
      <div class="title_container">
        <h2 style="margin-bottom: 16px">Register</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form action="/users" method="POST">
            <div class="input_field">
              <label>Name</label>
              <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="name" class="form-control" placeholder="Name" required />
            </div>
            <br />
            <div class="input_field">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                id="id"
                name="username"
                aria-describedby="emailHelp"
                placeholder="Email"
                required
              />
            </div>
            <br />
            <div class="input_field">
              <label>Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required
              />
            </div>
            <br />
            <div class="input_field">
              <label>Repeat Password</label>
              <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="Re-type Password" required />
            </div>
            <br />
            <register_submit_btn>
              <input class="btn btn-primary" type="submit" value="Submit"
            /></register_submit_btn>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
