body {
  background-color: #F3EBF6;
}

.form_container{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.register_submit_btn:hover {
  opacity:50%;
}
